:root {
  margin: 0px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  height: 100%;
}

#root {
  height: 100%;
}

.sign-up-form {
  color: rebeccapurple;
}

body {
  margin: 0px;
  height: 100%;
}