.info-container {
    display: flex;
    justify-content: space-around;
    margin: 6px;
    padding: 6px;
    margin-bottom: 20px;
    height: auto;
}

.info {
    margin: 6px;
    padding: 6px;
    border-style: solid;
    color: black;
    border-radius: 6px;
}

.reptile-title {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.name {
    font-size: 35px;
    font-weight: bold;
}

.species {
    font-style: italic;
    font-size: 20px;
}

.inside-info {
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin-bottom: 10px;
    height:fit-content;
    width: 30%;
}

.info-title {
    text-align: center;
    margin-bottom: 0;
}

.info-link {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    border-style: solid;
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 6px;
    margin-left: 4px;
    margin-right: 4px;
}

.days-of-week {
    display: flex;
    flex-wrap: wrap;
}

.day {
    border-style: solid;
    margin: 4px;
    padding: 4px;
}
